<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ميزانيتي</name>
    <description>
        تطبيق بسيط يتيح لك مراقبة ومعرفة كيفية صرف الدخل او المال لتجنب الاسراف
    </description>
    <author email="alahian.belaid@gmail.com" >
        A.B-dev
    </author>
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <preference name="orientation"                value="portrait" />
    <preference name="fullscreen"                 value="true" /> 
    <preference name="webviewbounce"              value="true" />
    <content src="index.html" />
    <access origin="*" />
</widget>
