<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ميزانيتي</name>
    <description>
        تطبيق بسيط يتيح لك مراقبة ومعرفة كيفية صرف الدخل او المال لتجنب الاسراف
    </description>
    <author email="alahian.belaid@gmail.com" >
        A.B-dev
    </author>
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <preference name="orientation"                value="portrait" />
    <preference name="fullscreen"                 value="true" /> 
    <preference name="webviewbounce"              value="true" />
    <content src="index.html" />
    <access origin="*" />

     <!-- Define app icon for each platform. -->
    <icon src="m-icon.png" width="512" height="512" />
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="res/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="res/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />
    <icon src="res/icon/ios/icon-certify-76.png" gap:platform="ios" width="76" height="76"/> 
    <icon src=:"res/icon/ios/icon-certify-120.png" gap:platform="ios" width="120" height="120"/> 
    <icon src="res/icon/ios/icon-certify-152.png" gap:platform="ios" width="152" height="152"/>
</widget>
